<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="carousel/infinite-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>COVID STORES</title>
  </head>
 
  <body>
    <div class="page-wrapper">

    <div>
        <div class="card bg-dark text-white">
            <img src="/img/covids.jpeg" width="10%" class="card-img" alt="Ministry of Health image">
            <div class="card-img-overlay">
              <h5 class="card-title">COVID-19 EFFECTIVENESS IN UGANDA</h5>
              <p class="card-text"> 
                  The  ministry  of Health  Proposed  an  electronic  Information  system  to
                  smoothen their work of trying to ease the effect of corona virus disease in Uganda
                  by Having a Registration Form where Users could Register patients.</p>
              <p class="card-text">Link to Registration Form Below</p>
              <p class="card-text">link</p>
            </div>
          </div>
    </div>
    </div>






        <script src="js/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
        <script src="js/bootstrap/js/popper.min.js"></script>
        <script src="js/bootstrap/js/bootstrap.js"></script>
        <script src="/index.js"></script>
  </body>
</html>